name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Kompose
        run: curl -L https://github.com/kubernetes/kompose/releases/download/v1.38.0/kompose-linux-amd64 -o kompose

      - uses: actions/checkout@v4
      - name: Convert Docker compose into Kubernetes
        run: act kompose --file compose.yaml convert
