name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Kompose
        run: |
          curl -L https://github.com/kubernetes/kompose/releases/download/v1.38.0/kompose-linux-amd64 -o kompose
          chmod +x kompose
          sudo mv kompose /usr/local/bin/kompose

      - uses: actions/checkout@v4
      - name: Convert Docker compose into Kubernetes
        run: kompose convert -f compose.yaml

      - name: Commit generated Kubernetes files
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add k8s/
          git commit -m "Generate Kubernetes manifests from docker-compose" || echo "Nothing to commit"
          git push
